[submodule "content/journal"]
	path = content/journal
	url = git@bitbucket.org:thunderrabbit/robnugen-journal-entries.git
[submodule "themes"]
	path = themes
	url = https://github.com/spf13/hugoThemes.git
[submodule "content/samples/unity3d"]
	path = content/samples/unity3d
	url = git@github.com:thunderrabbit/unity3d-samples.git
